@using BOL;
@{
    Account ac = ViewData["Account"] as Account;
}




<html>
    <meta>
       <div align="center" style="background-color: lightgray; border-radius: 50%; width: 100%; height: 100%;"><h1>Welcome To Accounts</h1></div><br><br>
    <head>

    </head>
    <body>
          <div align="left"><h2>The Available Amount is : </h2><br><br><h1> &#8377; @ac.Amount</h1></div>
    </body>
</html>