<html>
    <meta>
    <head>

    </head>
        
    <body style="background-color:whitesmoke;color: black;">
           <div style="text-shadow: 3px 3px 5px black;" align="left"><h1>Welcome To Be My Friend</h1></div><br><br><br><br>
            
           <div align="left"><p><h5>"To register as a friend, helping hand, listening ear, watchful eye, and active participant in the growth of orphan children, please visit your nearest registration center. By registering, you can provide much-needed support and guidance to vulnerable children, helping to improve their lives and provide them with the care and attention they deserve. Our registration centers are staffed with compassionate and professional individuals who are dedicated to helping orphan children thrive. For further details, please call the registration center you intend to visit, and our team will be happy to provide you with any additional information or assistance you may need. Thank you for your interest in supporting orphan children and making a difference in their lives."
</p></h5><pre><ul>
                <ol></div>
                    <div style="background-color: gray; padding: 100px; width:100%;">
                    <h1>PUNE</h1>
                    <h4>Bharatiya Samaj Seva Kendra</h4>
                    <p>Plot No. 373, Bertha Varada,6th Lane, North Main Road,Koregaon Park, 
Pune, Maharashtra 411001Phone : 26159314</p>
</div>
<hr> 
                    <div style="background-color:lightgray; padding: 100px; width:100%;">
                    <h1>Raipur</h1>
                    <h4>Sankalp Sanskritik Samiti (Nasha Mukti Kendra)</h4>
                    <p>Kailash Residency, Meera Datar Road,
Near Bottle House, Shanker Nagar, Raipur (C.G.)

Phone : 9826516271
Category/Type: Central Grant</p>
</div>

<hr>
                    
                      <div style="background-color: gray; padding: 100px; width:100%;">
                    <h1>Bhopal</h1>
                    <h4>Aishbag New Asha Mahila Vikas Samiti</h4>
                    <p>B 626 HOUSING BOARD COLONY BERASIA
ROAD KAROND BHOPAL - 462038</p>
</div>

<hr>
                     <div style="background-color: lightgray; padding: 100px; width:100%;">
                    <h1>Delhi</h1>
                    <h4>HELPING PEOPLE TRUST</h4>
                    <p>H. NO- 349, G/F, MIDDLE SIDE, 
VILL- MUNIRKA, NEAR SARVODAYA GIRLS SCHOOL, NEW DELHI

Phone : 8079027651
Pincode: 110067</p>
</div>
                
                 </ol>
                 </ul></pre>
    </body>
</html>