
<html>
    <meta>
    <head>

    </head>
    <body style="background-image: url(/Images/p1.jpg); background-size: cover; ">
    <div style="background-color:lightgray; border-radius: 50%; padding: 1%;" align="center"><h1>Welcome to Donation Page</h1><br><h4>Donate For Future of World</h4></div><br><br>

    <div><h5><i>@TempData["message"]</i></h5></div><br><br>

    <div align="left"><label for="btn"  id="leftbox">
        <h2 style="color: white;">Anonymous Payment &nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
        <a href="/home/Anonymus">
        <button type="submit" name="btn" id="btn" class="btn btn-dark btn rounded">Move to Payment</button></a>
        </div><br><br><br>
        


    <div align="left"><label for="btn1"  id="rightbox">
        <h2  style="color: white;">Non Anonymous Payment : &nbsp;&nbsp;</h2></label>
        <a href="/home/NonAnonymus">
        <button type="submit" name="btn1" id="btn1"class="btn1 btn-dark btn rounded">Move to Payment</button></a>
    </div>
    </body>
    <head>
        <script>
              #leftbox {
                float:left;
              
                width:35%;
                height:300px;
            }
        </script>
    </head>
    
    
        

</html>