<html>
    <meta>
    <head>

    </head>
        
    <body style="background-color:whitesmoke;color: black;">
           <div style="text-shadow: 3px 3px 5px black;" align="left"><h1>Welcome To Registration</h1></div><br><br><br><br>
            
           <div align="left"><p><h5>"To register a new child as a beneficiary, please visit the nearest registration center. Our organization is committed to providing financial and non-financial support to vulnerable children in need, and registering your child as a beneficiary can ensure that they have access to these benefits.  Our programs can help improve the well-being and future prospects of your child. Our registration centers are located across the region and offer a simple and confidential registration process. For further details on our beneficiary program, please call the registration center you intend to visit. Join us in our efforts to create a brighter future for vulnerable children and secure the well-being of your child by registering them as a beneficiary today."</p></h5><pre><ul>
                <ol></div>
                    <div style="background-color: gray; padding: 100px; width:100%;">
                    <h1>PUNE</h1>
                    <h4>Bharatiya Samaj Seva Kendra</h4>
                    <p>Plot No. 373, Bertha Varada,6th Lane, North Main Road,Koregaon Park, 
Pune, Maharashtra 411001Phone : 26159314</p>
</div>
<hr> 
                    <div style="background-color:lightgray; padding: 100px; width:100%;">
                    <h1>Raipur</h1>
                    <h4>Sankalp Sanskritik Samiti (Nasha Mukti Kendra)</h4>
                    <p>Kailash Residency, Meera Datar Road,
Near Bottle House, Shanker Nagar, Raipur (C.G.)

Phone : 9826516271
Category/Type: Central Grant</p>
</div>

<hr>
                    
                      <div style="background-color: gray; padding: 100px; width:100%;">
                    <h1>Bhopal</h1>
                    <h4>Aishbag New Asha Mahila Vikas Samiti</h4>
                    <p>B 626 HOUSING BOARD COLONY BERASIA
ROAD KAROND BHOPAL - 462038</p>
</div>

<hr>
                     <div style="background-color: lightgray; padding: 100px; width:100%;">
                    <h1>Delhi</h1>
                    <h4>HELPING PEOPLE TRUST</h4>
                    <p>H. NO- 349, G/F, MIDDLE SIDE, 
VILL- MUNIRKA, NEAR SARVODAYA GIRLS SCHOOL, NEW DELHI

Phone : 8079027651
Pincode: 110067</p>
</div>
                
                 </ol>
                 </ul></pre>
    </body>
</html>